*{
 padding: 0%;
 margin: 0%;
}
#wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  background: rgb(63, 155, 213);
  width: 70%;
}
p{
  font-size: 200%;
  color: gray;
}
#loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(253, 253, 253);
  border-radius: 5%;
  padding: 10%;
  margin: 10% 10%;
  width: 80%;
  height: 80%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}
input{
  background: #c3c2c2;
  border-radius: 5%;
  padding: 5%;
  border: none;
  height: 30px;
  width: 100%;
}
input::placeholder {
  text-align: center;
  color: gray;
}
input, label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(61, 61, 61);
}
#login{
  width: 80%;
  background: rgb(63, 155, 213);
  color: white;
  border:none;
  padding: 5%;
  border-radius: 3%;
}
#reset{
  margin-top: 3%;
  border:none;
  text-decoration-line: underline;
}